# .NET Core
.vs/
.vscode/
.idea/
bin/
obj/
out/
project.lock.json
project.fragment.lock.json
*.user
*.userosscache
*.suo
*.userprefs

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# JetBrains Rider
.idea/

# ASP.NET Scaffolding
ScaffoldingReadMe.txt
